@model System.Web.Mvc.HandleErrorInfo


@{
    ViewBag.Title = "Custom Error";
}
<br />
<h3 class="text-danger">Your img has to be in format .jpg or .png. <br/>Your pdf has to be in format .pdf. </h3>

<h4 class="text-success"> Please, go back and fill again the form </h4>
