
@{
    ViewBag.Title = "Not Found";
}

<div class="row bg" style="background-color: #63458f">
    <div class="col-md-4 col-lg-offset-2">
        <h2 style="color: white">Ooops, you just entered in the land of Unicorns!</h2>
        <h3 style="color: white">Let me take you back @Html.ActionLink("Home!", "Index", "Home", null, new {style= "color:pink" })</h3>
      </div>
    <div class="col-md-4">
        <img src="~/Assets/images/magic.jpg" width="350">
    </div>

</div>