@{
    ViewBag.Title = "Sugar Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">
    Sorry sugar,<br />
    this page is only for <span class="text-warning">admins</span> and/or <span class="text-warning">managers</span>.
</h2>

