@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h3>@ViewBag.Message</h3>
        <br />
        <address>
            <abbr title="Phone">P:</abbr>
            +41 77 433 47 14
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@mirmeleonia.com</a><br />
            <strong>App administrator:</strong> <a href="mailto:Marketing@example.com">Admin@mirmeleonia.com</a>
        </address>
    </div>

</div>