<div class="jumbotron">
    <h1>Web API</h1>
    <p class="lead">This is a Web Api for my Sugar factory project.</p>
    <p><a href="#" class="btn btn-warning btn-lg">See the project &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        
     
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>
